.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  color: red;
  font-size: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.containerBox {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color: white; // 파스텔톤의 분홍색 배경
  width: 100%; // 또는 다른 값으로 설정할 수 있습니다.
  max-width: 600px; // 최대 너비
  margin-bottom: 20px; // 박스 사이의 간격
}

.pageTitle {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #333;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.inputField,
.textAreaField,
.button {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #555;
  width: 300px;
  resize: none;
}

.inputField,
.textAreaField {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.button {
  width: 120px;
  height: 48px;

  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
}

.textAreaField {
  height: 150px;
}

.button:hover {
  background-color: #282c34;
}

.imageContainer {
  margin-bottom: 20px;

  img {
    max-width: 100%;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}
