@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.pageTitle {
  margin: 40px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  color: #000;
  text-align: center;
}

// 

.board_detail03{
  border-top: 3px solid #393939;
  font-family: 'NotoSans', sans-serif;
}

.board_detail03 .title {
  padding: 20px;
  border-bottom: 1px solid #393939;
  color: #222;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  unicode-bidi: isolate;
}

.board_detail03 .info {
  padding: 17px 0 19px 0;
  border-bottom: 1px solid #c9c9c9;
  font-size: 0;
  text-align: center;
  background: #f2f2f2;
}

.board_detail03 .article .question {
  position: relative;
  padding: 48px 20px 48px 100px;
  border-bottom: 1px solid #c9c9c9;
  color: #222;
  font-size: 16px;
  font-weight: 700;
}

.board_detail03 .article .answer {
  position: relative;
  padding: 48px 0 0 100px;
  font-size: 16px;
  line-height: 24px;
}

.input_field {
  border: none; /* 테두리 제거 */
  padding: 10px; /* 내부 여백 추가 */
  font-size: 16px; /* 폰트 크기 설정 */
  border-radius: 8px; /* 테두리 둥글게 만들기 */
  margin-bottom: 10px; /* 아래 여백 추가 */
}